.columns > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-xl);
  align-items: center;
}

@media (width >= 900px) {
  .columns > div {
    grid-template-columns: 1fr 1fr;
  }
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-m);
  aspect-ratio: 3 / 2;
}

.columns h2 {
  margin-top: 0;
}

.columns p {
  color: var(--text-secondary);
  font-size: var(--body-font-size-s);
}
